<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SERKBCRACOMPROBANTALMCN</servlet-name>
        <servlet-class>CONTROLADOR.SERKBCRACOMPROBANTALMCN</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SERPRODUCTO</servlet-name>
        <servlet-class>CONTROLADOR.SERPRODUCTO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SERCABECERASALIDAALMACEN</servlet-name>
        <servlet-class>CONTROLADOR.SERCABECERASALIDAALMACEN</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SERKBCRACOMPROBANTALMCN</servlet-name>
        <url-pattern>/SERKBCRACOMPROBANTALMCN</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SERPRODUCTO</servlet-name>
        <url-pattern>/SERPRODUCTO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SERCABECERASALIDAALMACEN</servlet-name>
        <url-pattern>/SERCABECERASALIDAALMACEN</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
